<nav class="navbar">
    <a href="index.html" class="logo-link">
      <img src="assets/imgs/logo.svg" alt="Ontario Parks Logo" class="logo">
    </a>
  
    <ul class="nav-links">
      <li><a href="#">Parks</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Guide Program</a></li>
      <li><a href="#">Activities</a></li>
      <li><a href="#">Rent Equipment</a></li>
      <li><a href="#">Store</a></li>
    </ul>
  
    <a href="reservation-camping.html" class="btn nav-cta">Book Now</a>
  </nav>
  